<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">
            <div class="signup">
                <form action="">
                    <img src="/static/image/Logo.png" class="imagem-principal" alt="">
                    <label for="chk" aria-hidden="true">Cadastrar</label>
                    <input type="text" name="txt" placeholder="Nome" required="">
                    <input type="email" name="email" placeholder="E-mail" required="">
                    <input type="password" name="pswd" placeholder="Senha" required="">
                    <button>Cadastrar</button>
                </form>
                <button>Cancelar</button>
            </div>

            <div class="login">
                <form action="" class="form-login">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="E-mail" required="">
                    <input type="password" name="pswd" placeholder="Senha" required="">
                    <button>Login</button>
                </form>
                <a class="cancelar-login" href="{% url 'home' %}">Cancelar</a>
            </div>
        </div>
    </div>
    
</body>
</html>