    <!-- NAV BAR -->
    <nav class="nav-bar  w-full flex justfy-around items-center py-1 px-4 fixed z-50" >
        <div class="div-logo">
            <div class="logo"> 
                <a href="#"><img class="img-logo-nav" src="/static/image/LOGOMARCA.png" alt=""></a>
                <a href="#">Conexão Ficr</a>
            </div>
            <div class="img-login">
                <a href="{% url 'login'%}" title="login icons"><img src="/static/image/user.png" alt=""></a>
            </div>
        </div>
        <div class="container-icon">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#sec-1">Direcionamento</a>
                </li>
                <li class="nav-item">
                    <a href="#sec-2">Cursos</a>
                </li>
                <li class="nav-item">
                    <a href="#sec-3">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- NAV BAR-FIM -->