{% load static %}
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="w-6/12">
        <a href="#">
            <img src="{% static 'image/LOGOMARCA.png'%}" alt="imagem logo" class="w-1/12">
        </a>
    </div>
    <div class="w-6/12 flex flex-nowrap justify-end">
        <div class="mr-2">
            <a href="" class="text-white py-1 px-2">
                Teste 1
            </a>
        </div>
        <div class="mr-2">
            <a href="" class="text-white py-1 px-2">
                Teste 1
            </a>
        </div>
        <div class="mr-2">
            <a href="" class="text-white py-1 px-2">
                Teste 2
            </a>
        </div>
    </div>
</nav>